html {
	height: 100%;
	margin: 0 auto;
	padding: 0;
	display: table;
}
#main{
    display: table-cell; 
    vertical-align: middle;
    padding: 10px 0px;
}
#canv{
    height: 500px;
    width: 500px;
    float: left;
}
#message{
    float: left;
    font-size: 14px;
    margin-left: 5px;
    max-width: 500px;
}
#wins{
    color: #16b1db;
}
#gamename{
    font-size: 40px;
}
.manual{
    font-size: 12px;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: auto;   
    max-width: 340px;
}
#manual_ja{
    display: none;
}
#prevprev,#prev,#next,#nextnext{
    width: 78px;
    font-size: 16px;
}
#replay,#tweetlog,.howtoplay{
    width: 340px;
    font-size: 16px;
    margin-bottom: 5px;
}
.howtoplay a{
    text-align: center !important;
    padding-right: 2.5em !important;
}
#newgame{
    width: 160px;
}
#lvs{
    margin: 0px !important;   
}
.lv{
    width: 110px;   
}

#sns{
    margin-left: 5px;
}
img.preload{
	display:none;
}
 body {
  -webkit-text-size-adjust: 100%;
}

#collapsible{
    width: 340px;   
}
@media (orientation: landscape) {
    #main{
        display: table-cell; 
        vertical-align: middle;
        padding: 10px 10px;
    }
}
@media (orientation: portrait) {
    #replay,#tweetlog,#lvs{
        width: 500px !important;
    }
    .howtoplay,#collapsible{
        width: 495px !important;
    }
    #prevprev,#prev,#next,#nextnext{
        width: 113px;
    }
    #message{
        width: 495px !important;
        font-size: 20px !important;
    }
    .lv{
        width: 200px !important;
    }
    #newgame{
        width: 212px !important;

    }
    
    .manual{
        font-size: 20px !important;
        max-width: 495px;
    }
    #footer{
        display: none;   
    }
}