html {
	height: 100%;
	margin: 0 auto;
	padding: 0;
	display: table;
    
    background: #FFFFFF;/*Old Browsers*/
    background: url(data:image/svg+xml;base64,...);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #CCCCCC), color-stop(100%, #FFFFFF));
    background: -webkit-linear-gradient(top, #CCCCCC, #FFFFFF);
    background:    -moz-linear-gradient(top, #CCCCCC, #FFFFFF);
    background:         linear-gradient(to bottom, #CCCCCC, #FFFFFF);
}
#main{
    background-color: "#000000";
    display: table-cell; 
    vertical-align: middle;
    text-align:middle;

}
#canv{
    height: 500px;
    width: 500px;
    float: left;
}
#message{
    float: left;
    background-color: "#FFFFFF";
    font-size: 14px;
    margin-left: 5px;
}
#wins{
color: #16b1db;
}
#gamename{
    font-size: 40px;
}
#manual{
    font-size: 12px;
}
div#message input:checked + label {
    background:rgb(247, 225, 225);
    font-weight:bold;
}
#prevprev,#prev,#next,#nextnext{
    width: 90px;
    height: 30px;
    font-size: 20px;
}
#replay,#newgame,#tweetlog{
    width: 360px;
    height: 30px;
    font-size: 20px;
}
#sns{
    margin-left: 5px;
}

