.ui-icon-action::after {
  background-image: url(data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2014%2014%22%20style%3D%22enable-background%3Anew%200%200%2014%2014%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpath%20style%3D%22fill%3A%23FFFFFF%3B%22%20d%3D%22M9%2C5v3l5-4L9%2C0v3c0%2C0-5%2C0-5%2C7C6%2C5%2C9%2C5%2C9%2C5z%20M11%2C12H2V5h1l2-2H0v11h13V7l-2%2C2V12z%22%2F%3E%3C%2Fsvg%3E);
}

.ui-icon-refresh::after {
  background-image: url(data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2214.001px%22%20height%3D%2214.002px%22%20viewBox%3D%220%200%2014.001%2014.002%22%20style%3D%22enable-background%3Anew%200%200%2014.001%2014.002%3B%22%20%20xml%3Aspace%3D%22preserve%22%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M14.001%2C6.001v-6l-2.06%2C2.06c-0.423-0.424-0.897-0.809-1.44-1.122C7.153-0.994%2C2.872%2C0.153%2C0.939%2C3.501%20c-1.933%2C3.348-0.786%2C7.629%2C2.562%2C9.562c3.348%2C1.933%2C7.629%2C0.785%2C9.562-2.562l-1.732-1c-1.381%2C2.392-4.438%2C3.211-6.83%2C1.83%20s-3.211-4.438-1.83-6.83s4.438-3.211%2C6.83-1.83c0.389%2C0.225%2C0.718%2C0.506%2C1.02%2C0.81l-2.52%2C2.52H14.001z%22%2F%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3Cg%3E%3C%2Fg%3E%3C%2Fsvg%3E);
}

.ui-icon-video::after {
  background-image: url(data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%20-2%2014%2014%22%20style%3D%22enable-background%3Anew%200%20-2%2014%2014%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpath%20style%3D%22fill%3A%23FFFFFF%3B%22%20d%3D%22M8%2C0H2C0.896%2C0%2C0%2C0.896%2C0%2C2v6c0%2C1.104%2C0.896%2C2%2C2%2C2h6c1.104%2C0%2C2-0.896%2C2-2V5V2C10%2C0.896%2C9.104%2C0%2C8%2C0z%20%20M10%2C5l4%2C4V1L10%2C5z%22%2F%3E%3C%2Fsvg%3E);
}

html {
  font-size: 100%;
}

body,
select,
button,
.ui-btn {
  font-size: 1em;
  line-height: 1.3;
  font-family: sans-serif;
}

.ui-field-contain {
  border-bottom-color: rgba(0, 0, 0, 0.14902);
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.ui-btn {
  font-weight: bold;
  border-width: 1px;
  border-style: solid;
}

.ui-btn {
  text-decoration: none !important;
}

.ui-corner-all {
  border-top-left-radius: 0.3125em;
  border-top-right-radius: 0.3125em;
  border-bottom-right-radius: 0.3125em;
  border-bottom-left-radius: 0.3125em;
}

.ui-btn.ui-corner-all {
  border-top-left-radius: 0.3125em;
  border-top-right-radius: 0.3125em;
  border-bottom-right-radius: 0.3125em;
  border-bottom-left-radius: 0.3125em;
}

.ui-corner-all {
  -webkit-background-clip: padding;
  background-clip: padding-box;
}

.ui-shadow {
  -webkit-box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 3px;
  box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 3px;
}

.ui-btn-icon-left::after {
  background-color: rgba(0, 0, 0, 0.298039);
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  border-bottom-left-radius: 1em;
  background-position: 50% 50%;
  background-repeat: no-repeat no-repeat;
}

.ui-content {
  border-width: 0px;
  overflow-y: visible;
  overflow-x: hidden;
  padding: 1em;
}

.ui-btn {
  font-size: 16px;
  margin: 0.5em 0px;
  padding: 0.7em 1em;
  display: block;
  position: relative;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.ui-btn-inline {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.625em;
}

.ui-btn-icon-left {
  padding-left: 2.5em;
}

.ui-btn-icon-left::after {
  content: '';
  position: absolute;
  display: block;
  width: 22px;
  height: 22px;
}

.ui-btn-icon-left::after {
  top: 50%;
  margin-top: -11px;
}

.ui-btn-icon-left::after {
  left: 0.5625em;
}

button.ui-btn {
  box-sizing: border-box;
  -webkit-appearance: none;
  width: 100%;
}

button.ui-btn-inline {
  width: auto;
}

.ui-field-contain {
  display: block;
  position: relative;
  overflow: visible;
  clear: both;
  padding: 0.8em 0px;
}

@media (min-width: 28em) {
  .ui-field-contain {
    padding: 0px;
    margin: 1em 0px;
    border-bottom-width: 0px;
  }

  .ui-field-contain::before,
  .ui-field-contain::after {
    content: '';
    display: table;
  }

  .ui-field-contain::after {
    clear: both;
  }
}