.canPut{
    display: inline;
    animation: buru .1s  infinite;
}
@keyframes buru {
    0% {transform: translate(0px, 0px) rotateZ(0deg)}
    25% {transform: translate(2px, 2px) rotateZ(0deg)}
    50% {transform: translate(0px, 2px) rotateZ(0deg)}
    75% {transform: translate(2px, 0px) rotateZ(0deg)}
    100% {transform: translate(0px, 0px) rotateZ(0deg)}
}
.grab{
    cursor:grab;
}
.grabbing{
    cursor:grabbing;
}